extends templates/webpage.pug

block content
    main.flex-shrink-0
        .starter-template(class="text-center py-5 px-3")
            h1(style="color: var(--bs-red);") 404 Page not found '#{url}'
            p Go back to the 
                a(href="/index") index.