extends templates/webpage.pug

mixin comma
    | ,
    |

block styles
    style.
        #background {
            position: fixed;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: -1;
            border: none;
            pointer-events: none;
        }

block content
    iframe#background(src=`/example/0`)
    main.container
        .starter-template(class="text-center py-5 px-3")
            h1 Made with
            p.lead
                +link('Express', 'https://expressjs.com') 
                +comma() 
                +link('Pug', 'https://pugjs.org')
                +comma()
                +link('Bootstrap', 'https://getbootstrap.com')
                +comma()
                | and
                |
                +link('ThreeJS', 'https://threejs.org')
                | .
    